<footer class="main-footer">
	<div class="container">
		<a href="#" class="scroll-top" title="Прокрутить вверх"><i class="fa fa-angle-double-up"></i></a>
		<nav class="main-menu footer-menu">
{% include /main-menu.html %}
		</nav>

		<nav class="soc">
			<ul>
{{ site.soc }}
			</ul>
		</nav>

	</div>
</footer>
<footer class="bottom-footer">
	<div class="container text-center">
		<div class="footer-copy">{{ site.time | date: '%Y'}} © <span class="logo logo-footer logo-litera">FliptheWOrld</span></div>
		<p>{{ site.copyright }}</p>
	</div>
</footer>

<script src="js/scripts.min.js"></script>
<script id="dsq-count-scr" src="//fliptheworldru.disqus.com/count.js" async></script>
</body>
</html>
