<section class="third-section accent-section">

	<div class="container-fluid">

		<h2>Категории</h2>
		
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="col-item col-item-accent">
					<a href="blog/science-and-technology/">
						<div class="pattern">
							<div class="overlay">
							<img src="images/science-and-technology/since.jpg" alt="Наука и техника" class="img-responsive img-width" title="Наука и техника">
							</div>
						</div>
						<h4>Наука и техника</h4>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
					<div class="col-item col-item-accent">
						<a href="blog/art/">
							<div class="pattern">
								<div class="overlay">
								<img src="images/art/art.jpg" alt="Искусство" class="img-responsive img-width" title="Искусство">
								</div>
							</div>
							<h4>Искусство</h4>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
						<div class="col-item col-item-accent">
							<a href="blog/cooking/">
								<div class="pattern">
									<div class="overlay">
									<img src="images/cooking/cooking.jpg" alt="Кулинария" class="img-responsive img-width" title="Кулинария">
									</div>
								</div>
								<h4>Кулинария</h4>
							</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
							<div class="col-item col-item-accent">
								<a href="blog/adventure/">
									<div class="pattern">
										<div class="overlay">
										<img src="images/adventure/travel.jpg" alt="Приключения" class="img-responsive img-width" title="Приключения">
										</div>
									</div>
									<h4>Приключения</h4>
								</a>
							</div>
						</div>
		</div>
	</div>

</section>