{% include /header-category.html %}

{% include /top-line.html %}

	<div class="pattern pattern-world-header">
		<div class="world-header" style="background-image: url({{ page.image }});">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7">
						<div class="world-header-box">
							<h1>
								{{ page.description }}
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="type-one type-one-world">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-12 ad top-ad">
{% include /ad-type-1.html %}
				</div>

{% for post in paginator.posts limit: 1 offset: 0 %}
{% include /home-type-one-section-item-1.html %}
{% endfor %}

				<div class="col-md-5 item-title-white">
{% for post in paginator.posts limit: 2 offset: 1 %}
{% include /home-type-one-section-item-2.html %}
{% endfor %}
				</div>
			</div>
		</div>
	</section>

		<section class="world-list">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">

						<div class="world-list-wrap">
{% for post in paginator.posts offset: 3 %}
{% include /category-list-item.html %}
{% endfor %}
						</div>

						<div class="pagination pagination-smoll text-center d-md-none">

							{% if paginator.total_pages > 1 %}
								{% if paginator.next_page %}
								<a href="{{ paginator.next_page_path }}" class="btn">Следующая страница <i class="fa fa-angle-double-right"></i></a>
								{% endif%}
							{% endif %}

							{% if paginator.page_trail %}
							<div class="pagination-links">

								{% if paginator.previous_page %}
								<a href="{{ paginator.previous_page_path }}" class="pagination-links-left" title="Предыдущая страница">&laquo;</a>
								{% else %}
								<span class="pagination-links-left" title="Предыдущая страница">&laquo;</span>
								{% endif %}
	
								{% for trail in paginator.page_trail %}
									{% if page.url == trail.path %}
									<span class="active">{{ trail.num }}</span>
									{% else %}
									<a href="{{ trail.path | remove: 'index.html' }}" title="{{ trail.title }}">{{ trail.num }}</a> 
									{% endif %}
								{% endfor %}

								{% if paginator.next_page %}
								<a href="{{ paginator.next_page_path }}" class="pagination-links-right" title="Следующая страница">&raquo;</a>
								{% else %}
								<span class="pagination-links-right" title="Следующая страница">&raquo;</span>
								{% endif %}
								  
							</div>
							{% endif %}


						</div>

					</div>
					<div class="col-md-4">
{% include /main-aside.html %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="pagination text-center d-none d-md-block">

			{% if paginator.total_pages > 1 %}
				{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="btn">Следующая страница <i class="fa fa-angle-double-right"></i></a>
				{% endif%}
			{% endif %}

			{% if paginator.page_trail %}
			<div class="pagination-links">

				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="pagination-links-left" title="Предыдущая страница">&laquo;</a>
				{% else %}
				<span class="pagination-links-left" title="Предыдущая страница">&laquo;</span>
				{% endif %}

				{% for trail in paginator.page_trail %}
					{% if page.url == trail.path %}
					<span class="active">{{ trail.num }}</span>
					{% else %}
					<a href="{{ trail.path | remove: 'index.html' }}" title="{{ trail.title }}">{{ trail.num }}</a> 
					{% endif %}
				{% endfor %}

				{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="pagination-links-right" title="Следующая страница">&raquo;</a>
				{% else %}
				<span class="pagination-links-right" title="Следующая страница">&raquo;</span>
				{% endif %}
					
			</div>
			{% endif %}


	</div>

{% include /footer.html %}
